
.LeftSide{
    background-color: #ffffff;
    min-height: 100vh;
    color:rgb(0, 0, 0);
    text-align: center;
}
.container{
    position:fixed;
}
nav{
    padding-left:3.3em;
}
nav > * ,  button.more{

    text-decoration: none;
    color:rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 500;
    width:100%;
    height:2.8em;

    span{
        display:flex;
        align-items: center;
        height:3em;
        width:100%;
        padding:0 0.7em; 

        }
 
    &:hover span {

border-radius: 1.5em;
background:rgb(151, 149, 149);
 }


 
}
header img{
   width:32px;
   height:25px;
   margin-left:-90px;
}


button{
    background:unset;
    border:unset;
}



button.tweet{
    display:block;
    background:rgb(29, 155, 240);
    color:white;
    height:3em;
     border-radius:1.5em;
     font-size:1em;
     margin-top:0.5em;
     margin-left:3em;
     width:80%;
     font-weight:600;
     cursor:pointer;

     &:hover{
         background:rgb(6, 139, 228);
     }
}

footer{
    position:fixed;
    bottom:1.5em;
    margin-left:0.5em;

    button.account{
        display:grid;
        grid-template-columns:1fr 1fr;
        align-items:center;
        color:black;
        font-size:1em;

         img{
            border-radius:50%;
            height:2.5em;
            width:2.5em;
            background:#54a5f1;
            margin-left:3.5em;
        }
        .username{
            color:#8899a6;
        }
    }
}